# MTA Analysis: Data Analysis & Visualization

Import libraries and configure matplotlib theme.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn')

Load cleaned MTA turnstile data.

In [2]:
df_mta = pd.read_pickle('cleaned_mta_turnstile_data_mayjune_20152020.pkl')
df_mta.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,ENTRIES,EXITS,DATETIME,PREV_DATETIME,PREV_ENTRIES,PREV_EXITS,HOURLY_ENTRIES,HOURLY_EXITS
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,04:00:00,5106810,1729649,2015-04-25 04:00:00,2015-04-25 00:00:00,5106770.0,1729635.0,40.0,14.0
2,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,08:00:00,5106835,1729680,2015-04-25 08:00:00,2015-04-25 04:00:00,5106810.0,1729649.0,25.0,31.0
3,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,12:00:00,5106961,1729784,2015-04-25 12:00:00,2015-04-25 08:00:00,5106835.0,1729680.0,126.0,104.0
4,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,16:00:00,5107250,1729858,2015-04-25 16:00:00,2015-04-25 12:00:00,5106961.0,1729784.0,289.0,74.0
5,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,20:00:00,5107620,1729914,2015-04-25 20:00:00,2015-04-25 16:00:00,5107250.0,1729858.0,370.0,56.0

### Stations to Target in Morning/Evening Rush Hour
Based on the time of day analysis above, we have determined that generally, the busiest times at subway stations are: 
`ENTER MORNING TIME HERE` and `ENTER EVENING TIME HERE`. 

First filter the data into two groups: morning rush hour and evening rush hour.

In [4]:
df_morning = df_mta[(df_mta['DATETIME'].dt.hour < 10) & (df_mta['DATETIME'].dt.hour > 8)]
df_evening = df_mta[(df_mta['DATETIME'].dt.hour < 18) & (df_mta['DATETIME'].dt.hour > 16)]

Group the data by station, and create a column containing the sum of entries and exits (total traffic).

In [ ]:
df_morning = df_morning.groupby('STATION', as_index=False).sum()
df_morning['TOTAL_TRAFFIC'] = df_morning['HOURLY_ENTRIES'] + df_morning['HOURLY_EXITS']

df_evening = df_evening.groupby('STATION', as_index=False).sum()
df_evening['TOTAL_TRAFFIC'] = df_evening['HOURLY_ENTRIES'] + df_evening['HOURLY_EXITS']

Load station location info.

In [ ]:
station_locations = pd.read_csv('raw_data/NYC_Transit_Subway_Entrance_And_Exit_Data.csv')
station_locations.drop_duplicates('Station Name', inplace=True)

In [ ]:
station_locations.head()

Add column in turnstile data for station name as they are listed in a database of station lat/lon for merging. Then merge.

In [ ]:
df_mta_top_10['Station Name'] = ['34th St', '34th St', 'Grand Central-42nd St', 'Union Square', '23rd St', 
                             '86th St', 'Fulton St', 'Times Square-42nd St', '125th St', '42nd St']
df_mta_top_10 = df_mta_top_10.merge(station_locations, on='Station Name')

In [ ]:
import plotly.express as px
px.set_mapbox_access_token(
    'pk.eyJ1Ijoic3RldmVqa2FwbGFuIiwiYSI6ImNrYzU5cmU4MTAzZnMydGpoYW9samtjemsifQ.4vpWJGjiGUC-K389B4JdbA'
)
fig = px.scatter_mapbox(df_mta_top_10, lat="Entrance Latitude", lon="Entrance Longitude", size="HOURLY_ENTRIES",
                        color_continuous_scale=px.colors.cyclical.IceFire, size_max=15, zoom=11, opacity=0.5,
                       width=600,height=800, mapbox_style='light', color='STATION')
fig.show()

#### 2. Time of Day Trends

#### 3. Day of Week Trends

#### 4. Days to Avoid

#### 5. Coronavirus Caveat (long term time trend) (202020 vs previous year)

recommend specific booths to stand near since different booths service different isolated access points in the station